:root {
    font: 10px;
}
@media (min-width: 768px) {
    :root {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    :root {
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    :root {
        font-size: 40px;
    }
}