html{
    height: auto;
}
body { 
    height: 100%;
    font-size: initial;
}
h1 {

    text-align: center;
    margin-bottom: 0px;
    font-size: 45px;
    background-color: #236d5e;
    padding : 10px 0;
    
}
h2 {
    text-align: center;
    font-size: 35px;
}
h5,h3{
    color: #236d5e;
}
.btnPropose{
    background-color: #236d5e !important;
    border: 1px solid #236d5e;
    color : white;
}

.btnPropose:hover{
    background-color: white !important;
    color:#236d5e;
}
.btnPropose2{
    background-color: white !important;
    border: 1px solid #236d5e;
    color:#236d5e;
}

.btnPropose2:hover{
    background-color: #236d5e !important;
    color:white;
}
.navbar {
    padding: 0%;
}
.navbar-light .navbar-brand{
    font-weight: bold;
    color: #236d5e;
    font-family: cursive;
}
.navbar-brand {
    color: #236d5e;
    font-size: xx-large;
}
.nav-link{
    color: #236d5e;
    font-size: large;
}
.nav-item{
    color: #236d5e;
}
.navbar-light .navbar-nav .nav-link{
    color: #236d5e !important;
}

.navbar-toggler {
    background-color: #236d5e;
}

.navbar-collapse {
    justify-content: flex-end
}

.main {
    height: 100vh;
    background-image: url(/public/img/Pourlecorps/bougiesetsel.jpg);
    background-size: cover;
    background-position: 50%;
    padding-top: 100px;
}

.card {
    background-color: rgba(255,255,255, 0.2);
}

.btn-color {
    background-color: #236d5e;
}
.btn-color:hover {
    background-color:white;
}

.btn-outline:hover {
    background-color: #236d5e;
}
footer {
    width: 100%;
    height: 50px;
    background-color: #236d5e;
}
.registration {
    
    background-image: url(/public/img/Pourlecorps/savonethuile2.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    font-weight: bolder;
    
    
    
}
.textRegistration {
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.form {
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
}
#recipesPage {
    height: 100%;
    background-image: url(/public/img/Pourlecorps/liniment.jpg);
    background-size: cover;
    background-position: 50%;
}
#recipesCard{
    height: fit-content;
}
.congratulation{
    height: 100vh;
    background-image: url(/public/img/Pourlecorps/liniment.jpg);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.textCongratulation{
    height: 100vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.howItWorkImg{
    height: 100vh;
    background-image: url(/public/img/Pourlecorps/savonethuile2.jpg);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.howItWorkText{
    height: 100vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.addRecipImg{
    height: 100vh;
    background-image: url(/public/img/Pourlecorps/photo-of-thoughtful-man-holds-chin-looks-pensively-upwards-wears-white-jumper-and-gloves-uses-washing-up-liquid-cleanser-isolated-over-pink-space.png);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.addRecipText{
    height: 100vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    width: 50%;
    width: 50%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}