::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border: 1px solid #aeaeb5;
}

::-webkit-scrollbar-thumb {
    background: #236d5e;
    border: 1px solid #236d5e
}
::-webkit-scrollbar-thumb:hover {
    background: #318d7b
}
::-webkit-scrollbar-thumb:active { 
    background: #318d7b
}

.addRecipText::-webkit-scrollbar-track{
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #aeaeb5;
}

.addRecipText::-webkit-scrollbar-thumb{
    border-radius: 10px;
}

html,body { 
    
    min-height: 100vh;
    font-size: initial;
}
h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 2rem;
    background-color: #236d5e;
    padding : 10px 0;
    
}
h2 {
    text-align: center;
    font-size: 35px;
}
h5,h3{
    color: #236d5e;
}
.btnPropose{
    background-color: #236d5e !important;
    border: 1px solid #236d5e;
    color : white;
}

.btnPropose:hover{
    background-color: white !important;
    color:#236d5e;
}
.btnPropose2{
    background-color: white !important;
    border: 1px solid #236d5e;
    color:#236d5e;
}

.btnPropose2:hover{
    background-color: #236d5e !important;
    color:white;
}

.navbar {
    padding: 0%;
}
.navbar-light .navbar-brand{
    font-weight: bold;
    color: #236d5e;
    font-family: cursive;
}
.navbar-brand {
    color: #236d5e;
    font-size: 1.3rem;
}
.nav-link{
    color: #236d5e;
    font-size: large;
}
.nav-item{
    color: #236d5e;
}
.navbar-light .navbar-nav .nav-link{
    color: #236d5e !important;
}

.navbar-toggler {
    background-color: #236d5e;
    font-size: 1rem;
}

.navbar-collapse {
    justify-content: flex-end
}
.navbar-nav .dropdown-menu  {
    transition: 0.5s;
}
.bodyRecipes{
    min-height: calc(100vh - 10vh);
}
.main {
    height: 86vh;
    background-image: url(/public/img/Pourlecorps/bougiesetsel.jpg);
    background-size: cover;
    background-position: 50%;
    padding-top: 100px;
}

.card {
    background-color: rgba(255,255,255, 0.2);
    height: fit-content;
}

.btn-color {
    background-color: #236d5e;
}
.btn-color:hover {
    background-color:white;
}
.page-link{
    color:#236d5e
}
.page-item.active .page-link{
    background-color: #236d5e;
    border-color: #236d5e;
}
.btn-outline:hover {
    background-color: #236d5e;
}
footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #236d5e;
}
.registration {
    
    background-image: url(/public/img/Pourlecorps/savonethuile2.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    font-weight: bolder;
    
    
    
}
.textRegistration {
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .textRegistration {
        font-size: 1.4rem;
    }
}

.form {
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
}

#recipesPage {
    min-height: 90vh;
    background-image: url(/public/img/Pourlecorps/liniment.jpg);
    background-size: cover;
    background-position: 50%;
}
#recipesCard{
    height: fit-content;
}
.congratulation{
    height: 80vh;
    background-image: url(/public/img/Pourlecorps/liniment.jpg);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.textCongratulation{
    height: 80vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.howItWorkImg{
    background-image: url(/public/img/Pourlecorps/savonethuile2.jpg);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.howItWorkText{
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.addRecipImg{
    background-image: url(/public/img/Pourlecorps/photo-of-thoughtful-man-holds-chin-looks-pensively-upwards-wears-white-jumper-and-gloves-uses-washing-up-liquid-cleanser-isolated-over-pink-space.png);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
}
.addRecipText{
    overflow-y: auto;
    height: 80vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
}
.addRecipText label{
    font-weight: 500;
    font-size: 1.1rem;
}

.editUser {
    
    background-image: url(/public/img/Pourlamaison/lessiveMaison.jpg);
    background-size: cover;
    background-position: 50%;
    display: flex;
    font-weight: bolder;

}
.profilRecip {
    background-image: url(/public/img/Pourlecorps/savonetpoudre.jpg);
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
.textEditRecip {
    background-image: url(/public/img/Pourlecorps/antirides.jpg);
    height: 80vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
}

.workInProgress {
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    align-content: center;
    background-image: url(/public/img/Pourlecorps/huilecococheveux.jpg);
    height: 80vh;
    background-size: cover;
    background-position: 50%;
    background-color: rgba(255,255,255, 0.3);
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
}
.textWorkInProgress{
    background-size: cover;
    background-color: rgba(255,255,255, 0.3);
    padding: 10px;
    border: 2px solid grey;
    border-radius: 20px;
    margin: 15px;
    font-size: x-large;
}
@media (min-width: 768px) {
    .workInProgress {
        font-size: 1.4rem;
    }
}

